# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#WebStorm solution files
.idea

#NPM modules and log
node_modules/
npm_debug.log

#Karma files
coverage/